// @import './_variables';

$color-navy:#34495e;
$color-cream:#FFFFF6;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3640;
}

.header {
  color: $color-cream;
  font-weight: bolder;
  font-size: 15px;
  background-color: $color-navy;
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
  & div {
    margin: 10px 30px;
  }
  .exit {
    cursor: pointer;
    &:hover {
      color: #e84118;
    }
  }
}

.navbar {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  & li {
    margin: 0px 30px;
  }
}

.timer {
  color: $color-cream;
  font-size: 25px;
  margin: 12px 0px;
  font-weight: bolder;
}

.question {
  font-weight: bolder;
  font-size: 40px;
  color: $color-cream;
  margin-bottom: 7px;
  & p {
    margin: 0px;
  }
}

.mainContents {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  .videoWrapper {
    margin: 0px 12px;
    // background-color: green;
    // width: 600px;
    // height: 450px;
  }
  .speechBoard {
    width: 380px;
    height: 500px;
    margin: 0px 12px;
    padding: 15px;
    background-color: #d1d8e0;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow-y: scroll;
    &::-webkit-scrollbar {
    display: none;
    }
  }
}

.buttonWrapper {
    margin-bottom: 15px;
  & button {
    background-color: #e84118;
    font-weight: bolder;
    color: $color-cream;
    padding: 7px 100px;
    font-size: 17px;
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    cursor: pointer;
  }
}





